{% extends "base.html" %}

{% block content %}


 

    <!-- ======= Breadcrumbs ========-->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Fixers</li>
        </ol>
        <h2>Meet the group behind this solution</h2>

      </div>
    </section><!-- End Breadcrumbs -->
     <!-- ======= Team Section ======= -->


  <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>Group 7 members</h2>
        </div>
  
        <div class="row">
        
            <div class="col-lg-6 mt-4 mt-lg-0 ">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                <div class="member-info text-center">
                  <h4> 1. ANIKE MICHAEL OBINNA - CST/18/COM/0030</h4>
                  <h4> 2. ASHRAF HABIB - CST/18/COM/0044</h4>
                  <h4> 3.CHIMA VICTOR - CST/19/COM/0413</h4>
                  <h4> 4. UMAR ADAM MUHAMMAD - CST/19/COM/00405 </h4>
                  <h4> 5. WISDOM JETHRO DANGIWA- CST/18/COM/0037</h4>
                  <h4> 6. ADAM BABASULE - CST/18/COM/0035 </h4>
                  <h4> 7. IBRAHIM ABDULRAHMAN - CST/18/COM/0048</h4>
   
                </div>
              </div>
            </div>
           
  
        </div>
  
      </div>
    </section>
    <!-- End Team Section -->
   

  {% endblock content %}
